# dnfinstall packages list

colordiff
curl
duf
du-dust
fd-find
jetbrains-mono-nl-fonts
fzf
gnome-extensions-app
gnome-shell-extension-appindicator
gnome-shell-extension-dash-to-dock
gnome-tweaks
htop
ncdu
papirus-icon-theme
procs
ripgrep
rsync
tree
unzip
vim
zip
zoxide
